<html>
<body>
<div class = "container">
    Welcome ,
    {{user.username}}
    <br/>
    <h1>Question List ...</h1>
    <table>
        <thead>
        <tr>
            <td>Serial No</td>
            <td>Question</td>
            <td>Answers</td>
            <td>Upvote</td>
            <td>UpVote Count</td>
            <td>Down Vote</td>
            <td>Downvote Count</td>
            <td>Total Count</td>
        </tr>
        </thead>
    {% for q in questions %}
        <tr>
            <td>{{q.id}}</td>
            <td>{{q.question}}</td>
            <td>
                <a href="{% url 'quora_app:answer_list' q.id%}">see answer</a>
            </td>
            <td>
                <a href="{% url 'quora_app:upvote' q.id%}?cb=Question">Upvote</a>
            </td>

            <td>
                {{ q.vote.count }}
            </td>

            <td>
                <a href="{% url 'quora_app:downvote' q.id%}?cb=Question">Downvote</a>
            </td>

            <td>
                {{ q.vote.count }}
            </td>

            <td>
                {{ q.vote.count }}
            </td>
        </tr>
    {% endfor %}
    </table>
   <a href="{% url 'quora_app:index' %}" > Back To index </a><br>
</div>
</body>
</html>